.booking{
    display: flex;
    flex-wrap: wrap;
}
.booking-item{
    background-color: #c5c5c523;;
    margin: 10px;
    border-radius: 10px;
    height: 530px;
    width: 350px;
}
.booking-item div img{
    width: 100%;
    border-radius: 10px;
}
.booking-item div h4,h5,p{
   padding: 10px;
}
.location{
    color: #be6363;
}

.book-section{
    display: flex;
}
.btn-section button{
    margin-left:100px;
    margin-top:5px;
}
.home-spinner{
    position: absolute;
    bottom: 300px;
    left:600px;
}
